html { 

	/* Choose ONE of the supplied backgrounds for your adventure game. */ 
	
	/* forest_background.jpg  		*/
	/* dungeon_background.jpg 		*/ 
	/* pirate_background.jpg  		*/
	/* scifi_background.jpg   		*/
	/* space_background.jpg   		*/
	/* underwater_background.jpg 	*/ 
  
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), 
				url(../images/pirate_background.jpg) no-repeat center center fixed; 
	
	background-size: cover;
	
	/* Next three lines support full background for other browser types */   
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

body {
	color: white;
	font-size: 24px;
	
}

#container {
	width: 100%;
	text-align: center;
}

#storyTitle {
	color: white;
	text-shadow: 0px 1px 4px black;
}

#chapterTitle {
	color: black;
}

#chapterText {
	color: black;
	text-align: left;
	padding-left: 3em;
	padding-right: 3em;
}

#storyArea {
	min-height: 350px;
	min-width: 350px;
	margin-right: 25%;
	margin-left: 25%;
	padding: 0.5em;
	background: url(../images/tiled_paper_background.jpg) no-repeat center center fixed;
	color: black;
	opacity: 0.9;
	border-radius: 5px;
	box-shadow: 0px 4px 8px black;
	border: solid 1px black;
}


#score {
	
}

.restartButton {
	float: right;
    border-radius: 3px;
    border: solid 1px black;
    background-color: tan;
    color: black;
}

.choiceButton {
	background-color: green;
	color: white;
	height: 50px;
	line-height: 50px;
	padding-right: 30px;
	padding-left: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 1em;
	margin-bottom: 1em;

	border-radius: 5px;
	cursor: pointer;

	position: relative;
	display: inline-block;
	text-shadow:0px 1px 0px black;
	box-shadow:0px 2px 2px black;
}
