body {
	font-family:Verdana, Geneva, sans-serif;
	background-color: #ccc;
}

#box {
	background-color:red;
	display:none;
	position:relative;
	display:block;
}

.bold {
	font-weight:bold;
}
